 .memberListContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
 }
 
 .memberListHeader {
    display: flex;
    margin: 64px 18px 0 0;
    justify-content: space-between;
 }

 .listTitle {
     display: flex;
     align-items: center;
     margin: 0 0 8px 18px;
     font-size: 32px;
     font-weight: 700;
     color: var(--primary-purple);
 }

 .searchBar {
    width: 310px;
    height: 36px;
    border: none;
    outline: none;
    font-family: 'Gotham';
    border-radius: 80px;
    padding-left: 28px;
 }

 .addMemberButton {
    padding: 1px 5.5px;
     margin-left: 12px;
     border: none;
     outline: none;
     font-size: 18px;
     text-decoration: none;
     color: white;
     background-color: var(--primary-purple);
     border-radius: 50%;
 }
 
.memberList {
  width: 100%;
  margin: 0 auto;
  height: 770px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.memberList::-webkit-scrollbar {
  width: 3px;
}

.memberList::-webkit-scrollbar-track {
    background: transparent;
}

.memberList::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}


.memberTable {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-size: 18px;
}

.listItem {
    list-style: none;
    color: black;
    margin-bottom: 18px;
    margin-top: 24px;
}

.listColumn {
    padding: 0px 18px;
    color: var(--primary-purple);
}

.columnTitle {
    margin: 0 0 18px 0;
}

.seeMoreButton {
    color: white;
    background-color: var(--primary-purple);
    border: none;
    outline: none;
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 10px;
    font-family: 'Gotham';
    font-size: 16px;
}

.listItemButton {
    list-style: none;
    color: black;
    margin-top: 1.9vh;
}

.pendingStatus {
    padding: 0 8px;
    background-color: var(--yellow);
    border-radius: 25px;
    color: white;
}

.expiredStatus {
    padding: 0 8px; 
    background-color: red;
    border-radius: 25px;
    color: white;
}
.paidStatus {
    padding: 0 8px; 
    background-color: green;
    border-radius: 25px;
    color: white;
}

.uploadInput {
    display: none;
}

.uploadButton {
    padding: 2.5px 38px;
    color: white;
    background: var(--primary-purple);
    font-size: 14px;
    border-radius: 5px;
}

.uploadButton:hover {
    cursor: pointer;
}